/* MEDIA-QUERIES */

@import "variables";

/*
Device = Laptops, Desktops
Screen = B/w 1025px to 1366px
*/

@media only screen and (min-width: 1025px) {
  /* BACK TO TOP BUTTON */
  .back-to-top {
    right: 2%;
  }

  /* HOME SECTION */
  #home-section {
    .nav-container {
      grid: "nav-logo nav-menu" / 1fr 1fr;
      height: 10vh;
      .nav-logo {
        justify-self: start;
        transform: scale(0.8);
        margin-left: 5%;
      }
      .nav-menu {
        margin-right: 5%;
        li {
          font-size: 1.2rem;
          border-bottom: 3px solid rgba(255, 255, 255, 0);
          transition: all 0.2s ease-out;
          &:hover {
            border-bottom: 3px solid $lightblue;
          }
        }
      }
    }

    /* BACKGROUND */
    .bg-container {
      height: 90vh;
      svg.bg-logo {
        :nth-child(1) {
          stroke-width: 10;
        }
        :nth-child(2) {
          stroke-width: 6;
        }
        :nth-child(3) {
          stroke-width: 12;
        }
      }

      @keyframes roll {
        0% {
          transform: rotate(0) scale(1);
          box-shadow: 0 0 50px 20px $lightblue-o;
        }
        50% {
          transform: rotate(180deg) scale(1.1);
        }
        100% {
          transform: rotate(360deg) scale(1);
          box-shadow: 0 0 50px 20px $lightblue-o;
        }
      }
    }
  }

  /* ABOUT SECTION */
  #about-section {
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.1rem;
    }
    i {
      font-size: 1rem;
    }
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0;
    background-color: $anthracite;
    .about-container {
      grid:
        "title ." 5%
        "paragraph profile" 95% / 1fr 0.7fr;
      width: 60rem;
      border-radius: 1rem;
      background-color: $anthracite;
      .about-title {
        margin-top: 0rem;
      }
      .about-profile {
        width: 45vh;
        height: 45vh;
        margin-left: 2rem;
      }
    }
  }

  /* PROJECTS SECTION */
  #projects-section {
    h2 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
    justify-content: center;
    grid-template-rows: 5% 95%;
    gap: 2rem;
    padding: 0;
    margin-bottom: 3rem;
    .projectList-title {
      margin-top: 2rem;
    }
    .projectList {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      width: 50rem;
      gap: 2.5rem;
      .project-container {
        box-shadow: none;
        border: 2px solid $white;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        &:hover {
          box-shadow: $shadow;
          transform: scale(1.01);
          border: 1px solid $white;
        }
      }
    }
  }

  /* SLIDE SECTION */
  #slide-section {
    grid:
      ". title ." 10%
      "image image image" 80%
      ". dots ." 10% / 1fr 50rem 1fr;
    padding: 0;
    .slide-container {
      width: 60rem;
    }
    .dot-container {
      align-self: center;
    }
  }

  /* GALLERY SECTION */
  .modal-container {
    .gallery-image {
      grid:
        "image" 1fr
        "text" 10% / 1fr;
      .img-caption {
        p {
          font-size: 0.9rem;
        }
        h3 {
          font-size: 0.9rem;
        }
      }
    }
  }
  /* SKILLS SECTION */
  .skills-container {
    grid-template-areas:
      "title"
      "badges";
    grid-template-rows: 5% 95%;
    padding: 0;
    justify-content: center;
    .skills-title {
      align-self: center;
    }
    .skills-badges {
      width: 50rem;
      gap: 1rem 4rem;
      grid-template-columns: repeat(6, 80px);
      grid-template-rows: repeat(5, 100px);
    }
  }

  /* CONTACT SECTION */
  #contact-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 0;
    .contact-container {
      grid:
        ". goodbye profile ." 1fr
        ". icons profile ." 0.5fr
        ". footer profile ." 0.8fr / auto 25rem 25rem auto;
      width: 70rem;
      padding: 0;
      height: 100vh;
      .contact-goodbye {
        align-self: end;
        width: 100%;
        padding: 0;
        p {
          font-size: 1.1rem;
        }
      }
      .contact-icons {
        width: 100%;
      }
      .contact-footer {
        align-self: start;
      }
    }
  }
}

/*
Device = Desktops
Screen = 1367px to higher resolution desktops
*/
@media only screen and (min-width: 1367px) {
  html {
    h1 {
      font-size: 2rem;
    }
  }

  /* HOME SECTION */
  #home-section {
    .nav-container {
      .nav-menu {
        width: 60%;
      }
    }

    /* BACKGROUND */
    .bg-container {
      svg.bg-logo {
        height: 55vh;
        width: 55vh;
        :nth-child(1) {
          stroke-width: 15;
        }
        :nth-child(2) {
          stroke-width: 10;
        }
        :nth-child(3) {
          stroke-width: 15;
        }
      }

      @keyframes roll {
        0% {
          transform: rotate(0) scale(1);
          box-shadow: 0 0 100px 40px $lightblue-o;
        }
        50% {
          transform: rotate(180deg) scale(1.1);
        }
        100% {
          transform: rotate(360deg) scale(1);
          box-shadow: 0 0 100px 40px $lightblue-o;
        }
      }
    }
  }

  /* ABOUT SECTION */
  #about-section {
    h3 {
      font-size: 1.5rem;
    }
    padding: 5rem 0;
    .about-container {
      grid:
        "title ." 5%
        "paragraph profile" 95% / 1fr 0.5fr;
      width: 60rem;
      padding: 0;
      .about-profile {
        width: 40vh;
        height: 40vh;
        margin-left: 3rem;
      }
    }
  }

  /* PROJECTS SECTION */
  #projects-section {
    gap: 3rem;
    .projectList {
      width: 60rem;
    }
  }

  /* SLIDE SECTION */
  #slide-section {
    grid:
      ". title ." 10%
      "image image image" 80%
      ". dots ." 10% / 1fr 60rem 1fr;

    .slide-container {
      width: 80rem;
    }
  }

  /* SKILLS SECTION */
  .skills-container {
    height: 65vh;
    .skills-badges {
      width: 60rem;
      gap: 1rem 6rem;
    }
  }

  /* CONTACT SECTION */
  #contact-section {
    height: 33vh;
    margin-top: 2vh;
    .contact-container {
      grid:
        ". icons profile  goodbye ." 1fr
        ".  footer profile goodbye ." 1fr / auto 1fr 1fr 1fr auto;
      height: inherit;
      .contact-profile {
        height: 25vh;
        width: 25vh;
        justify-self: center;
        margin: 0;
        img {
          margin: 0;
        }
      }
      .contact-goodbye {
        align-self: center;
        p {
          font-size: 1rem;
          text-align: left;
        }
      }
      .contact-icons {
        width: 80%;
        padding-top: 6rem;
      }
      .contact-footer {
        align-self: center;
        padding-bottom: 6rem;
      }
    }
  }
}
