$blue: rgb(88, 141, 156);
// $blue: rgb(58, 113, 140);
// $blue: rgb(70, 160, 160);
$blue-o: rgba(88, 141, 156, 0.3);
$lightblue: rgb(115, 177, 193);
$lightblue2: rgb(188, 225, 234);
// $lightblue: rgb(100, 190, 190);
$lightblue-o: rgba(115, 177, 193, 0.3);
$white: rgb(240, 240, 240);
$anthracite: rgb(37, 37, 37);
$anthracite-o: rgba(37, 37, 37, 0.3);
$shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
$whiteShadow: 0px 10px 20px 5px rgba(255, 255, 255, 0.2);
$blueShadow: $shadow, 0px 8px 5px $blue-o;

@mixin placeholdercard($color, $width, $height) {
  background-color: $color;
  width: $width;
  height: $height;
  // border-radius: 0.5rem;
  // box-shadow: $shadow;
}

@mixin titles {
  grid-area: title;
  text-decoration: underline;
  text-decoration-color: rgba(188, 225, 234, 1);
}
