$blue: rgb(40, 100, 120);
$lightblue: rgb(100, 190, 190);
$white: rgb(240, 240, 240);
$anthracite: #252525;
$shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.1) /* , 0px 5px 0px $lightblue */;
$blueShadow: $shadow, 0px 8px 0 $lightblue;

@mixin placeholdercard($color, $width, $height) {
  background-color: $color;
  width: $width;
  height: $height;
  // border-radius: 0.5rem;
  // box-shadow: $shadow;
}

@mixin titles {
  grid-area: title;
  text-decoration: underline;
  text-decoration-color: rgba(188, 225, 234, 1);
}
