@import "variables";

/*
Device = Most of the Smartphones Mobiles (Portrait)
Screen = 320px to 480px
*/
@media (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $anthracite;
  }

  html {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    max-height: 100vh;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    h1 {
      font-weight: 700;
    }
    h3 {
      font-weight: 700;
    }
    i {
      font-size: 90%;
    }
  }

  /* BACK TO TOP BUTTON */
  .back-to-top {
    visibility: hidden;
    position: fixed;
    width: 4rem;
    height: 4rem;
    right: 5%;
    bottom: 3%;
    border-radius: 50%;
    text-align: center;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    opacity: 0.3;
    transform: rotate(-90deg);
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    .top-button {
      font-size: 2.7rem;
      margin: 0.4rem;
    }
    &:hover {
      opacity: 1;
      box-shadow: -5px 0px 20px 5px rgba(0, 0, 0, 0.1),
        -5px 0px 5px $lightblue-o;
    }
  }
  /* HOME SECTION */
  #home-section {
    position: relative;
    scroll-snap-align: start;

    /* NAVIGATION */
    .nav-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99vh;
      border-radius: 0 0 1rem 1rem;
      overflow: hidden;
      display: none;
      grid:
        "logo" 20%
        "menu" 1fr
        "close" 20%;
      align-items: center;
      justify-content: center;
      .nav-background {
        position: absolute;
        width: 100vw;
        height: 100vw;
        border-radius: 50%;
        background-color: $blue;
        transition: transform 0.3s ease-in-out;
        transform: scale(0);
        z-index: -1;
      }
      .nav-logo {
        width: 133px;
        height: 60px;
        background: url(../icons/name-logo-white.svg);
      }
      .nav-menu {
        grid-area: menu;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        li {
          font-size: 1.4rem;
          font-weight: 500;
          color: white;
          list-style-type: none;
          cursor: pointer;
        }
      }
      .menu-close {
        grid-area: close;
        font-size: 3.5rem;
        text-align: center;
        color: white;
        cursor: pointer;
      }
      .menu-open {
        transform: scale(2.5);
      }
    }

    /* BACKGROUND */
    .bg-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
      svg.bg-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        height: 75vw;
        width: 75vw;
        stroke: $blue;
        animation: roll 10s infinite linear;
        transition: all 0.2s ease-in-out;
        circle {
          border-radius: inherit;
        }
        &:hover {
          stroke: $lightblue;
        }
      }

      @keyframes roll {
        0% {
          transform: rotate(0) scale(1);
          box-shadow: 0 0 100px 50px $lightblue-o;
          stroke-width: 12;
        }
        50% {
          transform: rotate(180deg) scale(1.1);
          box-shadow: 0 0 50px 20px $blue-o;
        }
        100% {
          transform: rotate(360deg) scale(1);
          box-shadow: 0 0 100px 50px $lightblue-o;
        }
      }
    }
  }

  /* ABOUT SECTION */
  #about-section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease-in-out;
    padding: 0.5rem 0;
    text-align: justify;
    h3 {
      color: $lightblue;
      font-weight: 700;
      font-size: 98%;
    }
    h1,
    p,
    i {
      color: $white;
    }
    .about-container {
      height: 100%;
      width: inherit;
      display: grid;
      grid-template-areas:
        "title"
        "paragraph";
      grid-template-rows: 5% 95%;
      grid-template-columns: 1fr;
      padding: 5%;
      border-radius: 1rem;
      justify-items: center;
      align-items: center;
      background-color: $anthracite;
      .about-title {
        @include titles();
        justify-self: start;
      }
      .about-paragraph {
        grid-area: paragraph;
      }
      .about-profile {
        display: none;
      }
    }
  }

  /* PROJECTS SECTION */
  #projects-section {
    width: 100%;
    padding: 5%;
    scroll-snap-align: start;
    display: grid;
    grid-template-areas:
      "title"
      "projectList";
    grid-template-rows: 5% 95%;
    gap: 2rem;
    .projectList-title {
      @include titles();
    }
    .projectList {
      width: 100%;
      grid-area: projectList;
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      .project-container {
        display: grid;
        grid-template-areas:
          "image"
          "text";
        grid-template-rows: 1fr 100%;
        transition: all 0.3s ease-in-out;
        border: 0px solid $lightblue;
        box-shadow: $shadow;
        border-radius: 0.5rem;
        cursor: pointer;
        .project-image {
          grid-area: image;
          width: 95%;
          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 0.5rem;
            margin: 5%;
          }
        }
        .project-text {
          grid-area: text;
          text-align: center;
          padding: 0 5% 5% 5%;
          .project-tool {
            font-weight: 300;
          }
          hr {
            border: none;
            border-top: 1px solid $lightblue;
            width: 50%;
            margin: 5% auto;
          }
        }
      }
    }
  }

  /* SLIDE SECTION */
  #slide-section {
    height: 100vh;
    width: 100%;
    padding: 5%;
    scroll-snap-align: start;
    display: grid;
    grid-template-areas:
      "title"
      "image"
      "dots";
    grid-template-columns: 1fr;
    grid-template-rows: 5% 90% 5%;
    align-items: center;
    .slide-title {
      @include titles();
    }
    .slide-container {
      grid-area: image;
      justify-self: center;
      width: 100%;
      height: 97%;
      border-radius: 0.8rem;
      position: relative;
      transition: all 0.2s ease-out;
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      img {
        position: absolute;
        width: inherit;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: all 0.2s ease-out;
      }
    }
    .hidden-img {
      opacity: 0;
      visibility: hidden;
    }
    .active-img {
      opacity: 1;
      visibility: visible;
    }
    .dot-container {
      grid-area: dots;
      justify-self: center;
      align-self: end;
      .dot {
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: lightgrey;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active {
        background-color: $blue;
      }
    }
  }

  /* GALLERY SECTION */
  .modal-container {
    background-color: rgb(37, 37, 37);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    .gallery-image {
      display: grid;
      grid:
        "image" 1fr
        "text" 15% / 1fr;
      align-items: start;
      justify-content: center;
      height: 100vh;
      width: 100%;
      img {
        grid-area: image;
        justify-self: center;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .img-caption {
        grid-area: text;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        p {
          color: $white;
          font-size: 1rem;
          font-weight: 400;
        }
        h3 {
          color: $lightblue;
          font-size: 1rem;
        }
      }
    }
    .close-button,
    .prev-img,
    .next-img {
      transition: all 0.2s ease-in-out;
      position: fixed;
      right: 0%;
      top: 0%;
      width: 4rem;
      height: 4rem;
      font-size: 3.5rem;
      text-align: center;
      color: $lightblue;
      opacity: 1;
      cursor: pointer;
    }
    .prev-img {
      font-size: 2.5rem;
      left: 0;
      top: 39%;
    }
    .next-img {
      font-size: 2.5rem;
      right: 0;
      top: 39%;
    }
  }

  //SKILLS
  .skills-container {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: grid;
    grid-template-areas:
      "title"
      "badges";
    grid-template-rows: 10% 90%;
    padding: 5%;
    .skills-title {
      @include titles();
    }
    .skills-badges {
      grid-area: badges;
      @include placeholdercard(white, 100%, 100%);
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
      gap: 1rem;
      justify-content: center;
      align-items: center;
      .badge {
        text-align: center;
        transition: transform 0.2s linear;
        &:hover {
          transform: scale(1.05);
        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  //CONTACT
  .contact-container {
    height: 99vh;
    width: 100%;
    padding: 5%;
    border-radius: 1rem 1rem 0 0;
    scroll-snap-align: start;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "profile"
      "goodbye"
      "icons"
      "footer";
    grid-template-rows: 2fr 1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
    background-color: $anthracite;
    transition: all 0.5s ease-in-out;
    * {
      color: $white;
    }
    .contact-profile {
      grid-area: profile;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 50%;
      img {
        width: 70%;
        border-radius: inherit;
      }
    }
    .contact-goodbye {
      grid-area: goodbye;
      padding: 5%;
      p {
        text-align: justify;
      }
    }
    .contact-icons {
      grid-area: icons;
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      .icon {
        text-align: center;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        font-size: 2.5rem;
        cursor: pointer;
        * {
          color: $lightblue;
        }
      }
    }
    .contact-footer {
      margin-top: 1rem;
      grid-area: footer;
      display: flex;
      justify-content: center;
    }
    .contact-logo {
      height: 2.5rem;
    }
    .contact-paragraph {
      align-self: center;
      font-size: 90%;
    }
  }
}

@import "tab-media-queries";
