@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $anthracite;
  /* color: rgb(240, 240, 240); NIGHT MODE COLOR*/
}

html {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  max-height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  /* background-color: $anthracite; NIGHT MODE BACKGROUND*/
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    line-height: 130%;
  }
  p {
    line-height: 170%;
    font-size: 1.1rem;
  }
  hr {
    width: 40rem;
    margin: auto;
    background-color: $anthracite;
    opacity: 0.5;
    height: 1px;
    border: none;
  }
}

.app-container {
  position: relative;
}
.back-to-top {
  // background-color: bisque;
  position: fixed;
  width: 4rem;
  height: 4rem;
  right: 5%;
  bottom: 7%;
  border-radius: 50%;
  text-align: center;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
  &:hover {
    background-color: white;
    opacity: 1;
    box-shadow: $shadow;
    cursor: pointer;
  }
  img {
    // background-color: aqua;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.6rem;
  }
}
// NAVIGATION
.nav-container {
  display: grid;
  grid-template-areas: "nav-logo nav-menu";
  align-items: center;
  min-height: 10vh;
  scroll-snap-align: start;
  .nav-logo {
    grid-area: nav-logo;
    justify-self: start;
    height: 60%;
    padding-left: 10%;
  }
  .nav-menu {
    grid-area: nav-menu;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
    li {
      list-style-type: none;
      margin-left: 40px;
      cursor: pointer;
      border-bottom: 3px solid rgba(255, 255, 255, 0);
      &:hover {
        border-bottom: 3px solid $lightblue;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

// BACKGROUND
.bg-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "bg-logo";
  height: 90vh;
  overflow: hidden;
  img.bg-logo {
    grid-area: bg-logo;
    border-radius: 50%;
    height: 90%;
    width: 90%;
    margin: auto;
    animation: roll 10s infinite linear;
  }
  @keyframes roll {
    0% {
      transform: rotate(0) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(1.1);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
}

// ABOUT
.about-container {
  height: 100vh;
  width: 60rem;
  scroll-snap-align: start;
  margin: auto;
  display: grid;
  grid-template-areas:
    "title title"
    "paragraph profile";
  grid-template-rows: 10vh 90vh;
  align-items: center;
  .about-title {
    @include titles();
    align-self: end;
  }
  .about-paragraph {
    grid-area: paragraph;
    max-width: 90%;
    // line-height: 1rem;
  }
  .about-profile {
    grid-area: profile;
    width: 20em;
    height: 20em;
    margin: auto;
    border-radius: 50%;
    // box-shadow: $shadow;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

// PROJECTS
.projectList-container {
  min-height: 100vh;
  width: 60rem;
  scroll-snap-align: start;
  margin: auto;
  display: grid;
  gap: 3rem;
  grid-template-areas:
    "title"
    "projectList";
  align-items: center;
  margin-bottom: 15em;
  .projectList-title {
    margin-top: 3rem;
    @include titles();
  }
  .projectList {
    grid-area: projectList;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2em;
    .project-container {
      display: grid;
      grid-template-areas: "image text";
      grid-template-columns: 20rem 2fr;
      gap: 2em;
      align-items: center;
      transition: all 0.3s ease-in-out;
      border: 1px solid white;
      border-radius: 0.1rem;
      cursor: pointer;
      &:hover {
        box-shadow: $shadow;
        transform: scale(1.01);
        border: 1px solid rgb(220, 220, 220);
      }
      .project-image {
        grid-area: image;
        width: 20rem;
        height: 20rem;
        img {
          object-fit: cover;
          border-radius: 0.2rem;
          width: 90%;
          height: 90%;
          margin: 5%;
        }
      }
      .project-text {
        grid-area: text;
        margin-right: 3rem;
      }
      .project-tool {
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }
}

// SLIDESHOW
.slide-container {
  height: 100vh;
  scroll-snap-align: start;
  margin: auto;
  display: grid;
  grid-template-areas:
    ". title ."
    "image image image"
    ". dots .";
  grid-template-columns: 1fr 60rem 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  align-items: center;
  position: relative;
  // background-color: $anthracite;
  .slide-title {
    @include titles();
    grid-area: title;
  }
  .slide-image {
    grid-area: image;
    justify-self: center;
    width: 60rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all 1s ease-out;
    img {
      height: 100%;
      width: 100%;
      box-shadow: $shadow;
      border-radius: 0.5rem;
      object-fit: cover;
      &:hover {
        cursor: pointer;
      }
    }
    p {
      display: none;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem;
      position: absolute;
      top: -9%;
    }
  }
  .dot-container {
    grid-area: dots;
    justify-self: center;
    .dot {
      height: 12px;
      width: 12px;
      margin: 0 2px;
      background-color: lightgrey;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active {
      background-color: $blue;
    }
  }
}

//GALLERY
.modal-gallery {
  background-color: $anthracite;
  height: 100vh;
  width: 100vw;
}

//SKILLS
.skills-container {
  height: 100vh;
  width: 60rem;
  scroll-snap-align: start;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-areas:
    "title"
    "badges";
  grid-template-rows: 15vh 80vh;
  margin-bottom: 5rem;
  align-items: center;
  position: relative;
  .skills-title {
    @include titles();
  }
  .skills-badges {
    grid-area: badges;
    @include placeholdercard(white, 100%, 100%);
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    .badge {
      text-align: center;
      transition: transform 0.2s linear;
      &:hover {
        transform: scale(1.05);
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.contact-container {
  height: 75vh;
  width: 100%;
  scroll-snap-align: start;
  display: grid;
  justify-content: center;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-columns: 20rem;
  .contact-profile {
    width: 13em;
    height: 13em;
    margin: auto;
    border-radius: 50%;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .contact-icons {
    display: flex;
    justify-content: space-around;
    .icon {
      text-align: center;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      font-size: 40px;
      cursor: pointer;
    }
  }
  .contact-paragraph {
    text-align: center;
  }
}

@import "media-queries";
