.project-container{
  display: grid;
  grid-template-areas: "image text";
  grid-template-columns: 20em 1fr;
  gap:4em;
  align-items: center;
}

.project-image {
  grid-area: image;
  width: 20em;
  height: 20em;
  border-radius: 0.2em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.project-image:hover{
  box-shadow: 0px 10px 20px rgba(188, 225, 234, 1);
  transition: all .2s ease-in-out;
  transform: scale(1.01);
}

.project-text{
  grid-area: text;
}

.project-link {
  cursor: pointer;
  border-bottom: 1px solid rgb(60, 60, 60);
  text-decoration: none;
}

.project-link:hover {
  border-bottom: 3px solid rgba(188, 225, 234, 1);
}